.intro{
     
     display: flex;
     justify-content: center;
     align-items: center;
}
.intro p{
    font-size: 2vw;
     font-weight: 600;
 padding: 3vw;
    width: 45%;
}
.intro img{
    /* width: 200px; */
height:45vw;
  

}