.skill{
    padding-bottom: 10vw;
 overflow: hidden;
 position: relative;
}
.skill_continer{
    position: sticky;
    transform: rotate(-6deg);
    background-color: greenyellow;
    height:5vw;
    padding: 1vw;
}
.icons_skill{
   
    margin-left: 8vw;
    font-size: 3vw;
}
.skill_continer2{
    position: sticky;
    transform: rotate(15deg);
    background-color: greenyellow;
    height:5vw;
    padding: 1vw;
    z-index: -1;
}
.skill-title h1{
    padding:3vw;
    
}